# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# production
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
